<div class="top-nav">
  <div class="sub-nav">
    <div class="sub-nav-container">
    </div>
  </div>
  <div class="main-nav">
    <div class="main-nav-container">
      <div class="right-fab-section">
        <div class="cart-fab-section">
          <div class="cart-fab-lbl">
            Cart
          </div>
          <div class="cart-fab-icon">
            <i class="material-icons" style="line-height:49px;">shopping_cart</i>
          </div>
        </div>
        <div class="profile-fab-section">
          <div class="profile-fab-lbl">
            Log In
          </div>
          <div class="profile-fab-icon">
            <i class="material-icons" style="line-height:49px;">account_circle</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="app-container">
<div class="fab-categories">
  <ul class="fab-categories-list">
    <div class="fab-list-header">MENU CATEGORIES</div>
    <li class="fab-categories-list">
      <div class="fab-categories-icon"><i class="material-icons tab-icons">dashboard</i></div>
      <div class="fab-categories-label">Admin Dashboard</div>
    </li>
    <li class="fab-categories-list">
      <div class="fab-categories-icon"><i class="material-icons tab-icons">people</i></div>
      <div class="fab-categories-label">Manage Admins</div>
    </li>
  </ul>
</div>
</div>
<button ng-click="close()">Close</button>
